@using BookInfo.Entities
@model List<Book>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PartialNewComments")
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                @*Carousel*@
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="bookPagingResult">
                @Html.Action("GetBook")
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="pagination">
                            @for (int i = 1; i <= ViewBag.KitapSayısı / 3 + 1; i++)
                            {
                                <input type="button" class="sss btn btn-default btn-sm" value="@i" />
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section footer{
    @*@Html.Partial("_PartialFooter")*@

}
@*@Bootstrap.ModalPopup(id: "modal_comment", title: "Yorumlar")
    @Bootstrap.ModalPopup(id: "modal_notedetail", title: "Not Detayı")
    <script src="~/Scripts/comment.js"></script>
    <script src="~/Scripts/like.js"></script>
    <script src="~/Scripts/NoteDetailPopup.js"></script>*@
<script type="text/javascript">
         $(".sss").on("click", function () {
        var page = $(this).val();

        paging(page);
    });


    function paging(page) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetBook", "Home")",
            data: {
                page
            },
            success: function (ajaxCallBack) {
                $("#bookPagingResult").html(ajaxCallBack);
            },
            error: function () {
                alert("hata")
            }
        })
    };
</script>
