@using BookInfo.Entities.EntityModel
@using BookInfo.Entities
@using PagedList
@using PagedList.Mvc
@using System.Web.Routing;
@model BookViewModel

@{
    ViewBag.Title = "Kitap";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-5"><h1>@Model.Name</h1></div>
            <div id="star-rating">
                <input type="radio" name="example" class="rating" value="1" />
                <input type="radio" name="example" class="rating" value="2" />
                <input type="radio" name="example" class="rating" value="3" />
                <input type="radio" name="example" class="rating" value="4" />
                <input type="radio" name="example" class="rating" value="5" />
            </div>
            <div>
                Puan:<div id="avgPoint">@Model.Point</div>             
            </div>
         
            @*<div class="col-md-5"><div id="rateYo"></div></div>*@
        </div>
    </div>
</div>
<div class="container">

    <div class="col-md-10">
        <div class="col-md-3">
            <img src="~/Images/Mustafa_Kemal.jpg" class="thumbnail" style="height:250px" />
        </div>
        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item"><h3>Yazar:@Model.Author</h3></li>
                <li class="list-group-item"><h3>YayınEvi:@Model.Publisher</h3></li>
                <li class="list-group-item"><h4>Yıl:2018</h4><h4>Sayfa:@Model.Page</h4></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <p style="text-align:center;position:relative">
            @Model.Description
        </p>
    </div>
    @*<div class="col-md-10">
            <button class="btn btn-success btn-lg" style=" display: flex; justify-content: center;" data-toggle="modal" data-target="#modal_comment" data-note-id="@Model.Id">
                <span class="glyphicon glyphicon-comment">Yorumlar</span>
            </button>
            <h1 style="text-align:center">Yorumlar</h1><br />
                @foreach (Comment item in Model.Comments)
                {
                    <div style=" border-radius: 25px;border: 2px solid #808080;padding: 20px;width:100%;height:150px; ">
                        <div class="col-md-8">
                            @item.Owner.Username <br />
                            @item.Text
                        </div>
                        <div class="col-md-2 pull-right">
                            @item.CreatedOn.ToShortDateString()
                        </div>
                    </div>
                }

        </div>*@

    <div id="searchPagingResult">
        @Html.Action("GetComment", new { id = ViewContext.RouteData.Values["id"] })
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="pagination">
                @for (int i = 1; i <= ViewBag.PageCount / 3 + 1; i++)
                {
                    <input type="button" class="sss btn btn-default btn-sm" value="@i" />
                }
            </div>
        </div>
    </div>
</div>



@Bootstrap.ModalPopup(id: "modal_comment", title: "Yorumlar")

<link href="~/Content/rating.css" rel="stylesheet" />
<script src="~/Scripts/comment.js"></script>
<script src="~/Scripts/like.js"></script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/rating.js"></script>
<script type="text/javascript">

    $(function () {
        $('#star-rating').rating(function (vote, event) {
            var sPageURL = window.location.href;
            var indexOfLastSlash = sPageURL.lastIndexOf("/");

            if (indexOfLastSlash > 0 && sPageURL.length - 1 != indexOfLastSlash)
                var id = sPageURL.substring(indexOfLastSlash + 1);
            else
                id = 0;

            $.ajax({
                url: "@Url.Action("SetLikeState", "Book")",
                type: "POST",
                data: { id, liked: vote }
            }).done(function (data) {
                if (data.haserror) {
                    alert(data.errormessage);
                }
                else {
                    alert(data.result);
                    $("#avgPoint").html(data.result);
                }
                }).fail(function () {
                    alert("Sunucu ile bağlantı kurulamadı");
                });
        });
    });


    $(".sss").on("click", function () {
        var page = $(this).val();
        var sPageURL = window.location.href;
        var indexOfLastSlash = sPageURL.lastIndexOf("/");

        if (indexOfLastSlash > 0 && sPageURL.length - 1 != indexOfLastSlash)
            var id = sPageURL.substring(indexOfLastSlash + 1);
        else
            id = 0;
        paging(id,page);
    });


    function paging(id, page) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetComment", "Home")",
            data: {
                id,page
            },
            success: function (ajaxCallBack) {
                $("#searchPagingResult").html(ajaxCallBack);
            },
            error: function () {
                alert("hata")
            }
        })
    };

</script>

